/*-- scss:defaults --*/


// Colors
$white: #FFFFFF;
$cream-blue: #BAD0E7;
$black: #444444;
$brown: #522811;

// Base document colors
$navbar-bg: $cream-blue; // navbar
$navbar-fg: $black; // navbar foreground elements
$navbar-hl: $brown; // highlight color when hovering over navbar links
$body-bg: $white; // page background 
$body-color: $black; // page text 
$link-color: $brown; // hyperlinks 
$h1: $brown;

